* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting up variables */
:root {
  font-size: 16px;
  --black: rgba(0, 0, 0, 0.644);
}

/* general layout for the page */

body {
  display: flex;
  /* border: 2px dashed purple; */
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed orange;
}

/* menu general layout */
.x-menu {
  border: 2px solid black;
  background-color: tomato;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
  z-index: 1;
}

/* design for every line  */
.line {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--black);
  border-radius: 10px;
  transition: all 500ms ease-in;
}

/* design for the slider-menu */
.slider-menu-container {
  display: flex;
  border: 3px solid pink;
  align-items: center;
  position: relative;
}

/* design for every slider */
.slider {
  width: 4rem;
  height: 3.5rem;
  /* animation-delay: 0s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards; */
  /* border: 2px solid black; */
}

.orange,
.brown,
.green,
.yellow,
.pink {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3px;
  transition: all 200ms linear;
}

.orange {
  background-color: #f7941e;
}
.brown {
  background-color: #cd714b;
}
.green {
  background-color: #56ca4e;
}
.yellow {
  background-color: #f8e156;
}
.pink {
  background-color: #fc12e1;
}
/* hover effect on the x-menu one*/
.one:hover .first,
.two:hover .first {
  transform: rotate(0.15turn);
  position: absolute;
}

.one:hover .third,
.two:hover .third {
  transform: rotate(-0.15turn);
  position: absolute;
}

.one:hover .second {
  display: none;
}

/* hover effect in order to activate the animation */

.slider-menu-container:hover .orange,
.slider-menu-container:hover .brown,
.slider-menu-container:hover .green,
.slider-menu-container:hover .yellow,
.slider-menu-container:hover .pink {
  position: relative;
}
