* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting up variables */
:root {
  font-size: 16px;
  --black: rgba(0, 0, 0, 0.644);
}

/* general layout for the page */

body {
  display: flex;
  /* border: 2px dashed purple; */
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed orange;
}

/* menu general layout */
.x-menu {
  border: 2px solid black;
  background-color: tomato;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
}

/* design for every line  */
.line {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--black);
  border-radius: 10px;
}

/* design for the slider-menu */
.slider-menu-container {
  display: flex;
  width: 70vw;
  border: 3px solid pink;
  align-items: center;
  /* position: relative; */
}

/* design for every slider */
.slider {
  width: 4rem;
  height: 3.5rem;
  /* border: 2px solid black; */
}

.orange {
  background-color: #f7941e;
  position: relative;
  animation-name: move-left;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.brown {
  background-color: #cd714b;
}

.green {
  background-color: #56ca4e;
}

.yellow {
  background-color: #f8e156;
}

.pink {
  background-color: #fc12e1;
}

/* hover effect on the x-menu one*/
.one:hover .first {
  transform: rotate(0.15turn);
  position: absolute;
}

.one:hover .third {
  transform: rotate(-0.15turn);
  position: absolute;
}

.one:hover .second {
  display: none;
}

/* animatiom for the slider-menu-container */

@keyframes move-left {
  from {
    right: 200.3px;
  }
  to {
    right: 134.4px;
  }
}
